
<script type="text/javascript">
  <% if current_user() %>
    window.bootStrap = <%= render(
      "api/users/strapper.json.jbuilder",
      user: current_user
    ).html_safe %>
    <% else %>
    window.bootStrap = {};
    window.bootStrap.currentUser = null;
    window.bootStrap.registrations = [];
    window.bootStrap.bookmarks = [];
  <% end %>

</script>

<main id='root'> static page of id='root' sent from static_pages controller</main>
