
.bookmark-button{
    /* padding: 0px; */
    border: 0px 1px 0px 1px solid lightgrey;
    /* font-size: x-large; */
    font-weight: 700;
    background-color: inherit;
    color: rgb(36, 255, 91);
    transition: .2s background-color, .2s color;
    padding: 0px 3px 0px 3px;
}
.register-button{
     border: 0px 1px 0px 1px solid lightgrey;
    /* font-size: x-large; */
    background-color: inherit;
    color: rgb(36, 255, 91);
    font-weight: 700;
    transition: .2s background-color, .2s color;
    padding: 0px 3px 0px 3px;
}


.unbookmark-button{
    padding: 0px 3px 0px 3px;
     border: 0px 1px 0px 1px solid lightgrey;
    transition: .2s background-color, .2s color;
    /* font-size: x-large; */
    background-color: rgb(36, 255, 91);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 0px 3px 0px 3px;
}

.unregister-button{
    padding: 0px 3px 0px 3px;
     border: 0px 1px 0px 1px solid lightgrey;
    transition: .2s background-color, .2s color;
   /* font-size: x-large; */
    background-color: rgb(36, 255, 91);
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.unregister-button:hover, .unbookmark-button:hover{
    background-color: rgba(255, 114, 71, 0.863);
    color: white;
font-weight: 700;
}

.register-button:hover, .bookmark-button:hover{
    background-color: rgba(219, 255, 57, 0.678);
    color: white;
    font-weight: 700;

}