
.bookmark-button{

    /* padding: 0px; */
         border: 1px;
     border-left: none;
     border-right: none;
    /* font-size: x-large; */
    font-weight: 700;
    background-color: transparent;
    color: rgba(255, 201, 22,.8);
    transition: .2s background-color, .2s color;
    padding: 0px 3px 0px 3px;
}
.floatbutton{
    position: absolute;
    left: 0px;
    top: 0px;

    font-size: 60px;
}
.register-button{
         border: 1px;
     border-left: none;
     border-right: none;
    /* font-size: x-large; */
    background-color: green;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: .2s background-color, .2s color;
    padding: 10px 60px;
    border-radius: 2px;
    box-sizing: border-box;
}


.unbookmark-button{

    color: rgba(255, 201, 22,.8);
    padding: 0px 3px 0px 3px;
     border: 1px;
     border-left: none;
     border-right: none;
    transition: .2s background-color, .2s color;
    font-weight: 700;
    padding: 0px 3px 0px 3px;
}

.unregister-button{
    box-sizing: border-box;
background-color: rgb(8, 228, 8);
          border: 1px;
     border-left: none;
     border-right: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: .2s background-color,
    .2s color;
    padding: 10px 60px;
    border-radius: 2px;
}

.unregister-button:hover, .unbookmark-button:hover{
    background-color: rgb(110, 143, 20);
    /* background-color: rgba(255, 114, 71, 0.863); */
font-weight: 700;
}

.register-button:hover, .bookmark-button:hover{
    background-color: rgb(49, 212, 49);
    /* background-color: rgba(71, 255, 126, 0.863); */
    font-weight: 700;

}