
.bookmark-button{
    font-size: 100%;
    background-color: inherit;
    color: rgb(255, 139, 62);
}
.register-button{
    font-size: 100%;
    background-color: inherit;
    color: rgb(255, 139, 62);
}

.unbookmark-button{
    font-size: 100%;
    background-color: inherit;
    color: rgb(160, 180, 60);
}

.unregister-button{
   font-size: 100%;
    background-color: inherit;
    color: rgb(160, 180, 60);
}