.createEvent-page{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}
.create-form{

        display: flex;
    flex-direction: column;
    align-items: center;
    align-content: left;
}
.formpage-header{
    width: 80vw
}
.formpage-header > h1{
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 40px;
}
// .create-form >input :optional {
//   background-color: #ffffff;
// }
// .create-form >input :invalid {
//   background-color: #f09f9f;
// }


// .create-form > input :valid {
//   background-color: #ffd280;
// }

  
// .create-form > input:required {
//   border-color: #5964ff;
//   border-width: 3px;
// }

// .create-form > input:required:invalid {
//   border-color: #C00000;
// }