.create-form{

        display: flex;
    flex-direction: column;
    align-items: center;
    align-content: left;
}
// .create-form >input :optional {
//   background-color: #ffffff;
// }
// .create-form >input :invalid {
//   background-color: #f09f9f;
// }


// .create-form > input :valid {
//   background-color: #ffd280;
// }

  
// .create-form > input:required {
//   border-color: #5964ff;
//   border-width: 3px;
// }

// .create-form > input:required:invalid {
//   border-color: #C00000;
// }