.createEvent-page{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}
.create-form{


}
.inputs-holder{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
}
.create-form > input{

}
.formpage-header{
    width: 100%;
}
.formpage-header > h1{
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 40px;
    height: 180px;
    line-height: 180px;
}
.upload-form{
    font-size: xx-large;
    background: transparent;
    color: rgba($color: #93a75d, $alpha: 1.0);
    transition: 1s color;
}
.fa-upload{
    background: transparent;
}
.upload-form-text{
    font-size: 20px;
}

.upload-form:hover{
    color: rgba($color: #8efd62, $alpha: 1.0);
    // font-size: xx-large;
}




.signup-label-form{
    width: 400px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    // height: 100px;
    padding: 10px;
}

.signup-input-form {
        right: 10px;
        padding: 15px 0 15px 10px;
        background-color:rgba(255, 255, 255, 0.945);
        margin:10px 0px 10px 0px;
        border-radius: 3px; 
        font-weight: 300;
        font-size: 15px;
        text-align: left;      
        border: 1px solid lightgrey;
        /* border-bottom: 1px solid lightblue; */
            width: 100%;
    height: 60px;
    padding: 2px;   
    }


