
.eventlist{
    background-color: rgb(235, 235, 235);
    width:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(64, 112, 114);
}

.eventList-container{
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: -70px;
    /* display: flex; */
    /* align-content: center; */
    /* align-items: center; */
    box-sizing: border-box;
    /* justify-content: center; */
    width:91%;

}

.event-list-ul{
    /* width:1200px; */
    display: flex;
    align-items: center;
   justify-content: center;
    margin: 25px;
   flex-wrap: wrap;
   /* flex-flow: column wrap; */
   align-content: center;
   margin-top: 40px;
}


.event-item-anchor{
    box-sizing: border-box;
    display: flex;
    margin: 15px;
    width: 28%;
    height: 100%;

}
.header-name-el{
    font-size:22px;
}
.event-list-item-li{
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    flex-grow: 1;
    background-color: rgba(248, 248, 248, 1);
    /* border-radius: 10px 10px 0 0; */
    align-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: .6s background-color;
    /* box-shadow: 3px 3px 6px  rgb(101, 120, 129); */

}
.image-buttons-holder{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    /* padding: 2px; */
    text-align: center;
    justify-content: space-around;
}

.event-image-container{

    padding: 0px;
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.BOOKMARK{
    position: relative;
    width: 0px;
    height: 0px;
    align-items: flex-end;
}
.event-list-item-image-c{
    /* border-top: 7px solid rgb(167, 177, 176); */
        /* position: relative; */
    /* width:100%; */
    height: 100%;
    border-radius: 0px 0px 0px 0px ;
    /* box-shadow: 1px 1px 3px  rgb(125, 161, 179); */
    object-fit: cover;
    transform: scale(1);  
    transition: all 1s ease;
    overflow: hidden;
}

.event-list-item-image-c:hover
{
    box-shadow: 4px 2px 20px rgb(125, 161, 179);
    transform: scale(1.06);
}

.header-name{
    font-size: 25px;
}

.header-header{
    font-size: 18px;
}

.event-list-item-header-c{
    text-align: center;
      color: #666a73;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top: 1px solid #40444b;
    box-sizing: border-box;
    padding: 10px;
    display:flex;
    flex-direction: column;

    min-height: 120px;
}

.navbar-img-container{
    background-image: url('https://ak5.picdn.net/shutterstock/videos/2590475/thumb/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    width: 100%;
    height: 650px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

}


.splashlogo{
    position: relative;
    top: 80px;
    text-align: center;
}

.splashlogo >div{
    margin-bottom: 150px;
}

.splashlogo h2{
    font-size: 35px;
    color: rgb(179, 179, 179)
}

.splashlogo h1{
    font-size: 85px;
    font-weight: 700;
    color: rgb(104, 86, 65);
}
