
.eventlist{
    background-color: rgb(245, 245, 245);
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(64, 112, 114);
}

.eventList-container{
    border-radius: 5px;
    margin: 0 auto;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width:80%;
    position: relative;
    top:-50px;
}
.eventListItem-container{
    width: 91%;
}

.event-list-ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 40px;
}


.event-item-anchor{
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    margin-top: 15px;
    align-self: self-start;
}
.header-name-el{
    font-size:22px;
}
.event-list-item-li{
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    flex-grow: 1;
    background-color: rgb(250, 246, 246);
    align-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: .6s background-color;

}
.image-buttons-holder{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.event-image-container{
    position: relative;
    padding: 0px;
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.BOOKMARK{
    width: 0px;
    height: 0px;
    align-items: flex-end;
}
.event-list-item-image-c{
    height: 100%;
    border-radius: 0px 0px 0px 0px ;
    object-fit: cover;
    transform: scale(1);  
    transition: all 1s ease;
    overflow: hidden;
}

.event-list-item-image-c:hover
{
    box-shadow: 4px 2px 20px rgb(125, 161, 179);
    transform: scale(1.06);
}

.header-name{
    font-size: 25px;
}

.header-header{
    font-size: 18px;
}

.event-list-item-header-c{
    text-align: center;
    color: #666a73;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top: 1px solid #40444b;
    box-sizing: border-box;
    /* padding: 10px; */
    display:flex;
    flex-direction: column;
    min-height: 120px;
}

.event-list-item-header-c span{
    padding: 5%;
}

.navbar-img-container{
    background-image: url('https://ak5.picdn.net/shutterstock/videos/2590475/thumb/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.splashlogo{
    position: relative;
    top: -55px;
    text-align: center;
}

.splashlogo >div{
}

.splashlogo h2{
    font-size: 45px;
    color: rgb(88, 81, 73);
}

.splashlogo h1{
    font-size: 100px;
    font-weight: 700;
    color: rgb(65, 59, 50);
}
