


.eventList-container{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.eventListItem-container{
    margin: 50px;
    /* border: 1px solid black; */
    width: 1024px;
}
.event-list-ul{
    width:100%;
    display: flex;
    justify-content: center;
}

.event-list-item-li{
    margin: 40px;
    background-color: rgb(124, 255, 205);
    align-content: center;
    align-items: center;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;


}

.event-image-container{
    padding: 70px;
    width: 500px;
    height: 500px;
}
.event-list-item-image-c{
    width:100%;
    height: 100%;
    padding: 1
    border: 1px solid black;
}
.event-list-item-header-c{
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

