.searchbar{
    background: linear-gradient(
        rgba($color: #ffffff, $alpha: .7),
        rgba($color: #fdfdfd, $alpha: .99) 35%,
         rgba($color: #fdfdfd, $alpha: 1.0)
    );
    width:83vw;
    // height: 22vh;
    border-radius: 5px;
    box-shadow: #000000;

    display: flex;
    flex-direction: column;
    align-items: center;
        box-shadow: 2px 2px #cfcfcf;

}
.searchbar label{
    font-size: 60px;
    color:rgb(255, 166, 0);
        padding: 5px;
    margin: 25px;
}
.cat-pattern{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 5px;
    margin: 25px;
    min-height: 50px;
    font-weight: 700;

}
.search-field{
    box-sizing: content-box;
    width: 100%;
    border: 1px solid lightgrey;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
    text-align: left;
    padding: 2px 0 2px 5px;
    margin: 0px 2px 0px 2px
}
.search-cat{
    width: 20%;
     border: 1px solid lightgrey;
     border-right: 0px;
     text-align: center;
     padding: 2px 0 2px 5px;
}
.search-button{
    
    box-sizing: border-box;
    height: 100%;
    width: fit-content;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    text-align: center;      
    border-bottom: 1px solid lightblue;
    font-weight: 700;
    font-size: 20px;
    transition: .6s background-color, .3s border-radius;
    background-color:  rgb(255, 166, 0);
    color:  white;
    border-left: 0px;
    border: 1px solid lightgrey;
    min-height: 50px;
}

.search-button:hover{
    background-color:  rgb(240, 116, 0);
}