.wrapper{
    display: flex;
    flex-direction: row;

}


.sideBar{
    position: relative;
    left: 0px;
    z-index: 999999;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color:  #fafafaf3;
    height: 100vh;
    width: 240px;
    border-right: 1px solid #EFF2F5;

}
.SideBar-button-list {
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.sidebar-button{
    text-align: center;
    width: 50%;
    height: 100px;
    background-color: #fbfbfb;
    transition: 1s background-color;
}

.SideBar-buttons-list >.sidebar-button:nth-child(3n+1){

    width: 100%;
}

.sidebar-button:hover{

    background-color: #ff8534;
}