
    .signup-page{

        text-align: left;
        align-items: center;
        vertical-align: center; 
    }
    .signup-line2{
        margin: 0 auto;
        margin-top: 25px;
        width:80%;

        border-bottom: 1px solid rgba(0, 0, 0, 0.589);
    }
    .signup-line3{
        margin: 0 auto;
        margin-top: 35px;
        width:50%;

        border-bottom: 1px solid rgba(0, 0, 0, 0.589);
    }
        .signup-line4{
            position: absolute;
            right:20%;
        margin: 0 auto;
        margin-top: 55px;
        width:1000px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.589);
    }
    .signup-form-container{

        z-index: 1;
        padding: 20px;
        position: absolute;
        top: 10%;
        right: 15%;
        color: #2a2d30;
        font-weight: 200;
        letter-spacing: -.1px;
        font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
        padding: 80px;
        border: 1px solid #2a2d30;
        border-radius: 0px 4px 4px 0px;
        border-left: none;
    }
    .splash-text{
        padding: 10px;
        position: relative;
        margin-top: 10  px;
        right: 310px;
        top: 120px;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
        color: #2a2d30;
        font-weight: 700;
        letter-spacing: -.1px;
        font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    }
    .splash-text > h1{
        font-size: 60px;
    }
    .splash-text > h2{
        font-size: 40px;
        color: #43484d;
    }
 
    .signup-splash-img{
     z-index: -100;
    top: 0%;
    margin:-10px;
    min-height: 100%;

    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    }
.getstarted{
    font-size: 20px;
    color:  rgba(248, 143, 24, 1);
    padding-bottom: 5px;
    margin-bottom: 25px;
}
    .signup-input, .signup-text {
        padding: 5px;
        background-color:rgba(255, 255, 255, 0.945);
        margin:5px;
        border-radius: 3px; 
        font-weight: 300;
        text-align: left;      
        border-bottom: 1px solid lightblue;
    }
    .button-holder{
        display: inline-flex;
        justify-content: space-around;
        width: 230px;
    }

    .error-list{
        color: rgb(233, 68, 68)
    }

    .signup-button{

    }

    .signup-text{
        display: block;
        font-weight: 700;
        transition: .6s background-color, .3s border-radius;
        /* transition: .5s color; */
        background-color:  rgb(255, 242, 247);
        font-weight: 300;
        color: #2a2d30;
        border-radius: 0px;
        margin-top: 22px;
        padding: 18px;
        border: 1px solid lightgrey;
    }

    .signup-text:hover{
        border-radius: 8px;
        background-color:  rgba(248, 143, 24, 1)