
    .signup-page{

        text-align: center;
        align-items: center;
        vertical-align: center; 
    }
    .signup-form-container{
        z-index: 1;
        padding: 20px;
        position: absolute;
        top: 20%;
        right: 40%;
        color: #2a2d30;
        font-weight: 200;
        letter-spacing: -.1px;
        font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
        padding: 90px;
        border: 1px solid #2a2d30;
        border-radius: 4px;
    }

    .splash-text{
        position: relative;
        text-align: center;
        align-items: center;
        vertical-align: center;
        color: #2a2d30;
        font-weight: 700;
        letter-spacing: -.1px;
        font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    }
    .splash-text > h1{
        font-size: 60px;
    }
    .splash-text > h2{
        font-size: 40px;
        color: #43484d;
    }
 
    .signup-splash-img{
    position: absolute;
     z-index: -100;
    top: 0%;
    bottom:50%;
    margin:-10px;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    }
.getstarted{
    padding-bottom: 5px;
    margin-bottom: 5px;
}
    .signup-input, .signup-text {
        padding: 5px;
        background-color:white;
        margin:5px;
        border-radius: 3px; 
        font-weight: 300;
        text-align: left;      
    }
    .button-holder{
        display: inline-flex;
        justify-content: space-around;
        width: 230px;
    }

    .error-list{
        color: rgb(233, 68, 68)
    }

    .signup-button{
        padding-left: 20px;
        padding-right: 20px;
    }

    .signup-text{
        font-weight: 700;
        transition: .3s background-color;
        /* transition: .5s color; */
        background-color: rgb(255, 255, 255); 
        font-weight: 300;
        color: #2a2d30;
        border-radius: 0px;
        margin-top: 20px;
        padding: 18 px;
        border: 1px solid lightgrey;
    }

    .signup-text:hover{
        background-color: rgba(248, 143, 24, 1); 
    }